<section class="bg-neutral-primary scroll-mt-16 py-8" id="skills">
  <span class="flex justify-center mb-10 text-gray-900 dark:text-white">
    <h2 class="text-3xl font-semibold">Skills</h2>
  </span>

  <div class="flex justify-center">
    <div class="mx-5 max-w-4xl w-full">

      <div class="flex flex-col md:flex-row justify-center gap-y-10 gap-x-16 mb-14">
        <div class="w-full md:max-w-sm text-center">
          <h3 class="mb-3 text-lg font-semibold text-gray-900 dark:text-white">
            Frontend
          </h3>
          <ul class="space-y-1 text-base text-gray-500 dark:text-gray-400">
            <li>Angular</li>
            <li>Astro</li>
            <li>TypeScript</li>
            <li>HTML & CSS</li>
            <li>Tailwind</li>
          </ul>
        </div>

        <div class="w-full md:max-w-sm text-center">
          <h3 class="mb-3 text-lg font-semibold text-gray-900 dark:text-white">
            Testing & Quality
          </h3>
          <ul class="space-y-1 text-base text-gray-500 dark:text-gray-400">
            <li>Mocha</li>
            <li>TestCafe</li>
            <li>Vitest</li>
            <li>Cypress</li>
          </ul>
        </div>

        <div class="w-full md:max-w-sm text-center">
          <h3 class="mb-3 text-lg font-semibold text-gray-900 dark:text-white">
            APIs & Data
          </h3>
          <ul class="space-y-1 text-base text-gray-500 dark:text-gray-400">
            <li>Node</li>
            <li>GraphQL</li>
            <li>REST APIs</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-center gap-y-10">
        <div class="w-full md:max-w-sm text-center">
          <h3 class="mb-3 text-lg font-semibold text-gray-900 dark:text-white">
            Tooling & Workflow
          </h3>
          <ul class="space-y-1 text-base text-gray-500 dark:text-gray-400">
            <li>Git</li>
            <li>Jira</li>
            <li>Confluence</li>
            <li>Agile / SAFe</li>
          </ul>
        </div>

        <div class="w-full md:max-w-sm text-center">
          <h3 class="mb-3 text-lg font-semibold text-gray-900 dark:text-white">
            Exploring
          </h3>
          <ul class="space-y-1 text-base text-gray-500 dark:text-gray-400">
            <li>AWS</li>
            <li>React</li>
            <li>Godot</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
