<section class="bg-neutral-primary scroll-mt-16 py-8" id="resume">
  <span class="flex justify-center mb-10 text-gray-900 dark:text-white">
    <h2 class="text-3xl font-semibold">Experience</h2>
  </span>

  <div class="flex justify-center">
    <ol class="relative mx-5 border-s border-gray-300 dark:border-gray-700">
      <li class="mb-5 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-blue-900">
            <img alt="Globant Logo" src="/globant.svg">
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Frontend Developer <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300 ms-3">Remote</span></h3>
        <h4 class="flex items-center mb-1 text-md font-medium text-gray-700 dark:text-gray-300">
          <a href="https://www.globant.com/" target="_blank">Globant</a>
        </h4>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-500">May 2022 - current</time>
        <ul class="list-disc my-4 text-base font-normal text-gray-500 dark:text-gray-400 max-w-[80ch]">
          <li>Contributed to the development of <a class="font-medium text-fg-brand opacity-75 hover:underline" href="https://www.rockwellautomation.com/en-gb/products/software/factorytalk/design-studio.html" target="_blank">FactoryTalk Design Studio</a>, Rockwell Automation’s first cloud-native application</li>
          <li>Built and maintained frontend features using Angular, TypeScript, and GraphQL</li>
          <li>Followed a Test-Driven Development (TDD) approach within the SAFe Agile framework, using Jira for planning and tracking</li>
          <li>Contributed to end-to-end test automation using TestCafe, supporting regression testing and maintaining product coverage</li>
          <li>Collaborated with cross-functional teams to deliver scalable and maintainable UI solutions</li>
          <li>Adopted Spec-Driven Development (SDD) practices to effectively integrate AI tools into the development workflow</li>
          <li>Volunteered as a mentor for <a class="font-medium text-fg-brand opacity-75 hover:underline" href="https://www.chicasprogramadoras.club" target="_blank">Club de Chicas Programadoras</a>, supporting young women in their first steps into software development</li>
          <li>Volunteered as practicum mentor, guiding students through practical software development experiences and best practices.</li>
        </ul>
      </li>
      <li class="mb-5 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-800 dark:bg-blue-900">
            <img alt="Globant Logo" src="/globant.svg">
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Quality Analyst</h3>
        <h4 class="flex items-center mb-1 text-md font-medium text-gray-700 dark:text-gray-300">
          <a href="https://www.globant.com/" target="_blank">Globant</a>
        </h4>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-500">Sept 2020 - May 2022</time>
        <ul class="list-disc my-4 text-base font-normal text-gray-500 dark:text-gray-400 max-w-[80ch]">
          <li>Contributed to the AAA title <a class="font-medium text-fg-brand opacity-75 hover:underline" href="https://www.hogwartslegacy.com/en-us" target="_blank">Hogwarts Legacy</a> through hands-on quality assurance and gameplay testing.</li>
          <li>Executed test cases to identify, document, and track defects, helping ensure a stable and polished player experience</li>
          <li>Managed the distribution of daily builds and collected performance data across multiple platforms and hardware configurations</li>
          <li>Collaborated with development and QA teams to validate fixes and improve overall game quality</li>
          <li>Volunteered in educational initiatives, delivering talks to teenagers about game testing as a career path</li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="flex justify-center mt-6">
    <a class="inline-flex m-auto items-center px-4 py-2 text-sm font-medium text-gray-600 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-black focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700" href="https://resume.juanbocca.dev" target="_blank"><svg aria-hidden="true" class="w-3.5 h-3.5 me-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <svg aria-hidden="true" class="w-6 h-6 text-gray-800 dark:text-white" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      </svg>

    </svg> View printable Resume</a>
  </div>
</section>