<section class="bg-neutral-primary">
  <div class="py-8 md:px-50 mx-auto max-w-screen-2xl lg:py-16">

    <div class="w-64 h-64 md:w-80 md:h-80 lg:w-90 lg:h-90
            rounded-full overflow-hidden
            mx-auto lg:mx-0
            lg:float-right lg:ml-10
            lg:[shape-outside:circle(50%)]
            lg:[clip-path:circle(50%)]">
      <img alt="image description" class="w-full h-full object-cover" src="/avatar.webp" />
    </div>

    <div class="text-center lg:text-left lg:my-auto">
      <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl xl:text-6xl">
        Software Developer
      </h1>

      <p class="mb-10 text-lg text-body md:text-xl max-w-prose">
        Focused on ethical work, continuous learning, and collaborative teams.
        <span class="block mt-4 text-base text-body/70 md:text-lg">
          Uruguayan, husband, father, musician, gamer.
        </span>
      </p>

      <div class="flex flex-col items-center space-y-4
              sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4
              lg:justify-start lg:items-start">
        <button class="inline-flex items-center justify-center text-white bg-brand hover:bg-brand-strong
                  box-border border border-transparent focus:ring-4 focus:ring-brand-medium
                  shadow-xs font-medium rounded-base text-base px-5 py-3 focus:outline-none" type="button">
          Let's connect
          <svg aria-hidden="true" class="w-4 h-4 ms-1.5 -me-0.5" fill="none" viewBox="0 0 24 24">
            <path d="M19 12H5m14 0-4 4m4-4-4-4"
                  stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2"/>
          </svg>
        </button>

        <button
          class="text-body bg-neutral-secondary-medium box-border border border-default-medium
                  hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4
                  focus:ring-neutral-tertiary shadow-xs font-medium leading-5
                  rounded-base text-base px-5 py-3 focus:outline-none" type="button">
          Learn more
        </button>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
</section>
